table {
    border-collapse: collapse;
    padding: 20px 10px;
  }
  th,
  tr,
  td {
    border: 1px solid rgb(111, 119, 240);
    width: 300px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
  }
  th {
    color: #fff;
    background-color: #2270e6;
  }
  
  tr:nth-child(odd) td {
    background-color: #eee;
  }