body{
    background-image: url('picture.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    background: rgba(17, 32, 235, 0.938);
    border-bottom: 1px solid black
}
h1 {
    background: rgba(245, 7, 39, 0.938);
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color:black;
}

.links {
    background: white;
    margin-left: auto;
    border-radius: 8px;
}
.links1 {
    background: white;
    margin-left: auto;
    border-radius: 8px;
}

