table {
  border-collapse: collapse;
  padding: 20px 10px;
}
th,
tr,
td {
  border: 1px solid rgb(12, 10, 153);
  width: 300px;
  height: 45px;
  vertical-align: middle;
  text-align: center;
}
th {
  color: #fff;
  background-color: #0a1680;
}

tr:nth-child(odd) td {
  background-color: #eee;
}
